{% extends 'layout.html' %}

{%block body%}
	<form  action="{{ url_for('addPresetDataHandle') }}" method="post">
		<div>
			<div>	
				<p>nazwa : </p>
				<input type="text" name="name">
			</div>	
			<div>	
				<p>co ile dni nawadniać : </p>
				<input type="text" name="daysCount">
			</div>	
		</div>
		<div>
			<p>stopień nawodnienia : </p>
			<ul style="list-style-type: none;">
			{% for option in wateringOptions %}
			<li><input type="radio" class="radio" name="wateringType" value="{{option.id}}"> {{option.name}}	</li>
			{%endfor%}
			</ul>
		</div>

		<div>
			<p>godziny nasłoneczniania : </p>
			<a>od</a> <input type="time" name="from">
			<a>do</a> <input type="time" name="to">
		</div>
		<div>
			<p>siła nasłonecznienia : </p>
			<ul style="list-style-type: none;">
			{% for option in lightOptions %}
			<li><input type="radio" class="radio" name="ilumnatingType" value="{{option.id}}"> {{option.name}}	</li>
			{%endfor%}
			</ul>
		</div>
		<div>
			<button>zastosuj</button>
		</div>
	</form>
	
{% endblock %}
