{% extends 'layout.html' %}

{%block body%}
	<form  action="{{ url_for('addPresetDataHandle') }}" method="post">
		<div>
			<div>	
				<p>name : </p>
				<input type="text" name="name">
			</div>	
			<div>	
				<p>water plant every : </p>
				<input type="text" name="daysCount"> days
			</div>	
		</div>
		<div>
			<p>humidity level : </p>
			<ul style="list-style-type: none;">
			{% for option in wateringOptions %}
			<li><input type="radio" class="radio" name="wateringType" value="{{option.id}}"> {{option.name}}	</li>
			{%endfor%}
			</ul>
		</div>

		<div>
			<p>Time when plant should have aces access to sunlight : </p>
			<a>From</a> <input type="time" name="from"> <br>
			<a>To</a> <input type="time" name="to">
		</div>
		<div>
			<p>light intensity level : </p>
			<ul style="list-style-type: none;">
			{% for option in lightOptions %}
			<li><input type="radio" class="radio" name="ilumnatingType" value="{{option.id}}"> {{option.name}}	</li>
			{%endfor%}
			</ul>
		</div>
		<div>
			<button>Submit</button>
		</div>
	</form>
	
{% endblock %}
