{% extends 'layout.html' %}

{%block body%}
	<form  action="{{ url_for('addPresetDataHandle') }}" method="post">
		<div>			
			<a>nazwa : </a>
			<input type="text" name="name">
			<a>co ile dni nawadniać : </a>
			<input type="text" name="daysCount">
		</div>
		<div>
			{% for option in wateringOptions %}
			<input type="radio" class="radio" name="wateringType" value="{{option.id}}"> {{option.name}}	
			{%endfor%}
		</div>

		<div>
			<a>godziny nasłoneczniania : </a>
			<a>od</a> <input type="time" name="from">
			<a>do</a> <input type="time" name="to">
		</div>
		<div>
			{% for option in lightOptions %}
			<input type="radio" class="radio" name="ilumnatingType" value="{{option.id}}"> {{option.name}}	
			{%endfor%}
		</div>
		<div>
			<button>zastosuj</button>
		</div>
	</form>
	
{% endblock %}
