{% extends 'layout.html' %}

{%block body%}

	<form action="{{ url_for('changePlantSettingsHandler') }}" method="post">
		{% for option in options %}
		<div class="box">
		<input type="radio" class="radio" name="preset" value="{{option.id}}"> {{option.name}}
		<p>sunlight : from {{option.lampFrom}} to {{option.lampTo}} </p>
		<p>light level : {{brightnessOptions[option.brightnessID-1].name}} </p>	
		<p>water every {{option.wateringDays}} days </p>		
		<p>humidity level : {{humidityOptions[option.humidityID-1].name}} </p>					
		</div>
		{%endfor%}	
		<input type="submit" value="Submit">
	</form>

{% endblock %}
