{% extends 'layout.html' %}

{%block body%}

	<form action="{{ url_for('changePlantSettingsHandler') }}" method="post">
		{% for option in options %}
		<div class="box">
		<input type="radio" class="radio" name="preset" value="{{option.id}}"> {{option.name}}
		<p>nasłonecznianie : od {{option.name}} do {{option.name}} </p>
		<p>siła nasłonecznienia : {{option.brightnessID}} </p>	
		<p>nawadnianie co {{option.wateringDays}} dni </p>		
		<p>stopień nawodnienia : {{option.humidityID}} </p>			
		
		</div>
		{%endfor%}	
		<input type="submit" value="Zastosuj">
	</form>

{% endblock %}
