{% extends 'layout.html' %}

{%block body%}
<div id="main">
	<div>
		<h2 >pompa : </h2><a id="pumpStatus">status</a>
		<div>	
			<a href="/on" class="btn btn-info" role="button">on</a>
			<a href="/off" class="btn btn-info" role="button">off</a>
		</div>
		<div ><a>ostatnie podlanie : 		</a> <a id="lastPumpUse">status</a>	</div>
	</div>
	<div>
		<h2 >lampa : </h2> <a id="lampStatus">status</a>
		<div>		
			<a href="/on" class="btn btn-info" role="button">on</a>
			<a href="/off" class="btn btn-info" role="button">off</a>
		</div>
		<div ><a>ostatnie nasłonecznianie : </a> <a id="LastLampUse">status</a>	</div>
	</div>	
</div>
{% endblock %}
