{% extends 'layout.html' %}

{%block body%}
<div id="main">
	<div>
		<h2 >pompa : </h2><a id="pumpStatus">{{pumpStatus}}</a>
		<div>	
			<a href="/on" class="btn btn-info" role="button">on</a>
			<a href="/off" class="btn btn-info" role="button">off</a>
		</div>
		<div ><p>ostatnie podlanie : 		</p> <a id="lastPumpUse">{{lastWatering}}</a>	</div>
	</div>
	<div>
		<h2 >lampa : </h2> <a id="lampStatus">{{lampStatus}}</a>
		<div>		
			<a href="/on" class="btn btn-info" role="button">on</a>
			<a href="/off" class="btn btn-info" role="button">off</a>
		</div>
		<div ><p>ostatnie nasłonecznianie : </p> <a id="LastLampUse">{{lastIrradiation}}</a>	</div>
	</div>	
</div>
{% endblock %}
