{% extends 'layout.html' %}

{%block body%}
<div id="main">
	<div>
		<h2 >pump : {{pumpStatus}}</h2>
		<div>	
			<a href="/pump/on" class="btn btn-info" role="button">on</a>
			<a href="/pump/off" class="btn btn-info" role="button">off</a>
		</div>
		<div ><a>last pump activity :	{{lastWatering}}</a></div>
		<div ><a>current humidity level :	{{currentHumidty}}</a>	</div>
	</div>
	<div>
		<h2 >lamp :  {{lampStatus}}</h2>
		<div>		
			<a href="lamp/on" class="btn btn-info" role="button">on</a>
			<a href="lamp/off" class="btn btn-info" role="button">off</a>
		</div>
		<div ><a>last lamp activity :	{{lastIrradiation}}</a>	</div>
		<div ><a>current light level :	{{currentIlumination}}</a>	</div>
	</div>	
	<p>current preset : {{presetName}}</p>
</div>
{% endblock %}
