{% extends 'layout.html' %}

{%block body%}
	<form>
		<div>
			<div>
				<div>
					<a>dni nawadniania : </a>			
					<input type="checkbox" name="wateringDays" value="pn"> pn
					<input type="checkbox" name="wateringDays" value="qt"> wt
					<input type="checkbox" name="wateringDays" value="sr"> sr
					<input type="checkbox" name="wateringDays" value="cz"> cz
					<input type="checkbox" name="wateringDays" value="pt"> pt
					<input type="checkbox" name="wateringDays" value="sb"> sb
					<input type="checkbox" name="wateringDays" value="nd"> nd			
				</div>
				<div>
					<a>co ile dni nawadniać : </a>
					<input type="text" name="daysCount">
				</div>
			</div>
		</div>
		<div>
			<a>wartość minimalna wilgoci : </a> <input type="text" name="minHumility">
			<a>wartość porządana wilgoci : </a> <input type="text" name="goodHumility">
			<a>wartość maksymalna wilgoci : </a> <input type="text" name="maksHumility">
		</div>
		<div>
			<input type="submit" value="Zastosuj">
		</div>
		</div>
	</form>
	
{% endblock %}
